<section>
   
    
    <article>
        <header>
            <h2>{{titulo}}</h2>
        </header>
        <p> {{conteudo}}</p>

        <br>
        <br>
        <br>
        <form action="http://localhost/crudphp/?pagina=post&metodo=addComent" method="post">
            <span>Nome: </span><br>
            <input type="text" name="nome"><br><br>
            <span>Comentario: </span><br>
            <textarea name="msg"></textarea><br><br>
            <input type="hidden" name="id" value="{{id}}">
            <input type="submit" value="Enviar"><br>
        </form>
        <br><br>
        {% if comentarios == false %}
            <p>Nenhum2 comentario</p>
        {% else %}
        {% for comnet in comentarios %}
        <h3>{{comnet.nome}}</h3><br>
        <p> {{comnet.mensagem}}</p>

<br>
             {% endfor %}
             {% endif %}
    </article>
    
</section>