<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="corpo">
    <div id="topo">
        <header>
            <nav>
                <a href="http://localhost/crudphp/">Home</a> |
                <a href="http://localhost/crudphp/?pagina=sobre">Sobre</a>
                <a style="float: right;" href="http://localhost/crudphp/?pagina=admin&metodo=index">Admin</a>
            </nav> 
        </header>
    </div>
     <div id="conteudo">
       {{area_dimanica}}
     </div>
</div>
</body>
</html>